<div class="d-flex mt-5 align-items-center justify-content-evenly custom-height border bg-light rounded">

        <div class="p-3">
            <%= render 'form' %>
        </div>
        
        <div class="vr"></div>
        
        <div class="border rounded bg-light ">
            <button type="button" class="btn btn-lg btn-success">Sign Up</button>
        </div>

    </div>