<div class="container-fluid d-flex flex-column ">
    <div class="text-center">
        <div class="mt-5 mb-5">
            <%= image_tag("official-ruby-logo.png", width:"10%", class:"rounded") %>
        </div>

        <h3 class="mb-3">Start Chatting</h3>
    </div>
</div>

<div class="row flex-fill d-flex justify-content-start">

    
    <div class="col-6">
        <div class=" p-2 bg-light rounded border border-dark custom-height" >
            <p>Something</p>
        </div>
    </div>

    <div class="col-4 ms-auto">
        <div class=" p-2 bg-dark rounded text-bg-dark custom-height" >
                <p>ssss</p>
        </div>
                       
    </div>  



</div>