<div class="container-fluid d-flex flex-column ">
    <div class="text-center">
        <div class="mt-5 mb-5">
            <%= image_tag("official-ruby-logo.png", width:"10%", class:"rounded") %>
        </div>

        <h3 class="mb-3">Start Chatting</h3>
    </div>
</div>

<div class="row flex-fill d-flex">
     <div class="col-8">
    
        <div class="card p-2 bg-light rounded border border-dark custom-height">
            
            <div class="card-body">
                <%= render @messages %>
            </div>
            
            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                alt="avatar 3" style="width: 40px; height: 100%;">
                <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                placeholder="Type message">
                <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
            </div>

        </div>
    </div>

    <div class="col-4 ms-auto">
        <div class="p-2 bg-light rounded border border-dark custom-height">

            <div class=" p-2 bg-dark rounded text-bg-dark" >
                <div class="row ms-3 w-75">
                    <div class="ms-1 mt-1 p-3 active rounded bg-secondary">
                        Home
                    </div>
                </div>
                 <hr/>
                <div class="row ms-3 w-75">
                    <div class="ms-1 mt-1 p-3">
                        Messages
                    </div>
                </div>
                <hr/>
                <div class="row ms-3 w-75">
                    <div class="ms-1 mt-1 p-3">
                        Friends
                    </div>
                </div>
            </div>
        </div>

    </div>
        
                       
</div>  